.search-dashboard {
  background-color: #141023;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h2 {
  color: $light-pink;
  width: 100%;
  text-align: center;
}
