.dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

  .buttons-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 2%;
  }

  .dashboard-buttons {
    @include buttonStyle;
    span {
      @include buttonSpanStyle;
    }
  }
}

.card-container {
  width: 270px;
  height: 412px;
  background: linear-gradient(to right, $light-pink, $light-purple);
  margin: 0;
  border-radius: 10px;
  padding: 1px;
}

.card {
  width: 268px;
  height: 410px;
  margin: 0;
  background: $dark-purple;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 8px 5px;
  position: absolute;

  h2 {
    color: $light-purple;
  }

  h3 {
    color: $light-purple;
  }

  .suit-arcana {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 5px;
  }

  p {
    color: $periwinkle;
    text-align: center;
  }

  .goblet {
    height: 50px;
    width: 50px;
    margin: 4px;
  }

  .favorite-button, .white-star {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
  }

  .favorite-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
