.dashboard {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .buttons-container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
  }

  .dashboard-buttons {
    @include buttonStyle;
    margin-top: 2px !important;
    span {
      @include buttonSpanStyle;
    }
  }
}
