@mixin buttonStyle {
  padding: 10px 30px;
  border-radius: 15px;
  background-color: none;
  color:#fff;
  text-decoration:none;
  transition: .2s;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:1rem;

  &:hover {
    background-color:$light-green;
    transition: .2s;
    cursor:pointer;
  }

  &:disabled {
    background-color:$light-gray;
    cursor: no-drop;
  }
}
