@mixin buttonStyle {
  background: linear-gradient(to right, $light-pink, $light-purple);
  border-radius: 10px;
  color: $light-pink;
  font-size: 20px;
  padding: 1px;
  text-decoration: none;
  border: none;
  width: 245px;
  height: 50px;
  margin: 10px;

  &:hover {
    transition: 1s;
    cursor: pointer;
    background: $dark-purple;
  }
}

@mixin buttonSpanStyle {
  background: $dark-purple;
  border-radius: 10px;
  width: 243px;
  height: 48px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &:hover {
    transition: 1s;
    background: linear-gradient(256.25deg, $transparent-pink 0.36%, $transparent-purple 97.78%);
    color: #FFFFFF;
  }
}
