@mixin buttonStyle {
  background: linear-gradient(to right, $light-pink, $light-purple);
  border: none;
  border-radius: 10px;
  color: $light-pink;
  font-size: 20px;
  height: 50px;
  margin: 10px;
  padding: 1px;
  text-decoration: none;
  width: 270px;

  &:hover {
    background: $dark-purple;
    cursor: pointer;
    transition: 1s;
  }
}

@mixin buttonSpanStyle {
  align-items: center;
  background: $dark-purple;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  height: 48px;
  justify-content: center;
  width: 268px;

  &:hover {
    background: linear-gradient(
      256.25deg,
      $transparent-pink 0.36%,
      $transparent-purple 97.78%
    );
    color: #ffffff;
    transition: 1s;
  }
}
