*,
*:after,
*:before {
  background-color: #141023;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  background-color: $transparent-purple;
  width: 0.75em;
}

body::webkit-scrollbar-track {
  background-color: $dark-purple;
}
