.card-container {
  background: linear-gradient(to right, $light-pink, $light-purple);
  border-radius: 10px;
  height: 412px;
  margin: 1.7% 5%;
  padding: 1px;
  width: 270px;
}

.card {
  align-items: center;
  background: linear-gradient(
    10deg,
    rgba(30, 24, 52, 1) 0%,
    rgba(45, 40, 62, 1) 50%,
    rgba(59, 52, 81, 1) 100%
  );
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  height: 410px;
  margin: 0;
  overflow: hidden;
  padding: 8px;
  position: absolute;
  width: 268px;

  h3,
  h2 {
    background: none;
    color: $light-pink;
    margin: 5px 0;
  }

  .suit-arcana {
    background: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
  }

  p {
    background: none;
    color: $periwinkle;
    font-size: 16px;
    max-height: 190px;
    overflow-y: auto;
    text-align: center;
  }

  p::-webkit-scrollbar {
    background-color: $transparent-purple;
    width: 0.3em;
  }

  .goblet {
    background: none;
    height: 58px;
    margin: 3px;
    width: 58px;
  }

  .favorite-button,
  .white-star {
    background: none;
    border: none;
    height: 30px;
    width: 30px;
  }

  .white-star {
    &:hover {
      filter: invert(100%);
    }
  }

  .favorite-button {
    border-radius: 100%;
    bottom: 10px;
    position: absolute;
    right: 10px;
    &:hover {
      background: linear-gradient(to right, $light-pink, $light-purple);
    }
  }
}

.favorited {
  .white-star {
    filter: invert(100%);
  }
  .favorite-button {
    background: linear-gradient(to right, $light-pink, $light-purple);
    &:hover {
      opacity: 0.75;
    }
  }
}
